<div class="flip-container">
	<div class="flipper" flipper >
		<div class="front fdl-front-card" >
			<table>
				<tr class="details">
					<td>Author</td>
					<td>Date created</td>
				</tr>
				<tr class="details">
					<td>Ion Miculescu</td>
					<td>01/01/2014 12:00</td>
				</tr>
				
				<tr>
					<td colspan="2">
						<b>Fdl title in here :)</b>
					</td>
				</tr>
				<tr>
					<td>
						<img src='assets/angelina.jpg' height="100%" class='card-profile-photo' alt='profile photo'>
					</td>
					<td><a class='btn btn-default btn-xs'>Show fdl</a></td>
				</tr>
				
			</table>
		</div>
		<div class="back fdl-back-card">
			<p>Lore ipsum text... Lore ipsum text... Lore ipsum text... Lore ipsum text... Lore ipsum text... 
				Lore ipsum text... Lore ipsum text... Lore ipsum text... 
				</p>
		</div>
	</div>
</div>



<div class="comment-section">
	
	<div class="comment">
		<table>
			<tr>
				<td>
					<img src="assets/default-profile.jpg" class="card-profile-photo" alt="profile picture" width="100%">
				</td>
				<td>
					<div class="comment-details-author">
						<span>Author:</span> <span><i>Ionescu Popescu</i></span>
						<span>Posted at:</span> <span><i>01/01/2014 00:00</i></span>
					</div>
					<!---->
				</td>
			</tr>
		</table>
		<p class="comment-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
	</div>
	<div class="comment">
		<table>
			<tr>
				<td>
					<img src="assets/default-profile.jpg" class="card-profile-photo" alt="profile picture" width="100%">
				</td>
				<td>
					<div class="comment-details-author">
						<span>Author:</span> <span><i>Ionescu Popescu</i></span>
						<span>Posted at:</span> <span><i>01/01/2014 00:00</i></span>
					</div>
					<!---->
				</td>
			</tr>
		</table>
		<p class="comment-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
	</div>
	<div class="comment">
		<table>
			<tr>
				<td>
					<img src="assets/default-profile.jpg" class="card-profile-photo" alt="profile picture" width="100%">
				</td>
				<td>
					<div class="comment-details-author">
						<span>Author:</span> <span><i>Ionescu Popescu</i></span>
						<span>Posted at:</span> <span><i>01/01/2014 00:00</i></span>
					</div>
					<!---->
				</td>
			</tr>
		</table>
		<p class="comment-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
	</div>
	<div class="comment">
		<table>
			<tr>
				<td>
					<img src="assets/default-profile.jpg" class="card-profile-photo" alt="profile picture" width="100%">
				</td>
				<td>
					<div class="comment-details-author">
						<span>Author:</span> <span><i>Ionescu Popescu</i></span>
						<span>Posted at:</span> <span><i>01/01/2014 00:00</i></span>
					</div>
					<!---->
				</td>
			</tr>
		</table>
		<p class="comment-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
	</div>
	<div class="comment">
		<table>
			<tr>
				<td>
					<img src="assets/default-profile.jpg" class="card-profile-photo" alt="profile picture" width="100%">
				</td>
				<td>
					<div class="comment-details-author">
						<span>Author:</span> <span><i>Ionescu Popescu</i></span>
						<span>Posted at:</span> <span><i>01/01/2014 00:00</i></span>
					</div>
					<!---->
				</td>
			</tr>
		</table>
		<p class="comment-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
	</div>
</div>